{% extends 'base.html' %} {% block content %}
<h1>{{ tag.name }}</h1>
{% if posts_tags %}
<ul>
  {% for tag in posts_tags %}
  <li><a href="/posts/{{post.id}}">{{ tag.post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
<form class="mb-4">
  <a class="btn btn-outline-warning mr-2" href="">Back</a>
  <button
    class="btn btn-primary"
    formaction="/posts/{{ post.id }}/edit"
    formmethod="GET"
  >
    Edit
  </button>
  <button
    class="btn btn-danger ml-2"
    formaction="/posts/{{ post.id }}/delete"
    formmethod="POST"
  >
    Delete
  </button>
</form>
{% endblock %}
