{% extends 'base.html' %} {% block content %}
<h1>{{ tag.name }}</h1>
<ul>
  {% for post in tag.posts %}
  <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<form class="mb-4">
  <a class="btn btn-outline-warning mr-2" href="">Back</a>
  <button
    class="btn btn-primary"
    formaction="/tags/{{ tag.id }}/edit"
    formmethod="GET"
  >
    Edit
  </button>
  <button
    class="btn btn-danger ml-2"
    formaction="/tags/{{ tag.id }}/delete"
    formmethod="POST"
  >
    Delete
  </button>
</form>
{% endblock %}
