{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <img class="img-fluid" src="{{ user.image_url }}" />
    </div>

    <div class="col-9">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <form class="mb-4">
        <button
          class="btn btn-primary"
          formaction="/users/{{ user.id }}/edit"
          formmethod="GET"
        >
          Edit
        </button>
        <button
          class="btn btn-danger ml-2"
          formaction="/users/{{ user.id }}/delete"
          formmethod="POST"
        >
          Delete
        </button>
      </form>

      {% if posts %}
      <h1>Posts</h1>
      <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <a class="btn btn-outline-primary mt-4" href="/users">All Users</a>
      <a
        class="btn btn-primary text-white mt-4"
        href="/users/{{ user.id }}/posts/new"
        >Add Post</a
      >
    </div>
  </div>
</div>

{% endblock %}
